In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LogisticRegression

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
train = pd.read_csv('/kaggle/input/titanic/train.csv')
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
train = train.drop(['Cabin', 'Ticket', 'Name','Fare','SibSp', 'Parch', 'Age'], axis = 1)
train = train.dropna()
train = pd.get_dummies(train)
train = train.drop('Sex_female', axis = 1)

In [4]:
X_train = train.drop(['Survived', 'PassengerId'], axis = 1)
Y_train = train.Survived

In [5]:
clf = LogisticRegression(solver='lbfgs')
clf.fit(X_train, Y_train)

LogisticRegression()

In [6]:
test = pd.read_csv('/kaggle/input/titanic/test.csv')

In [7]:
test = test.drop(['Cabin', 'Ticket', 'Name','Fare','SibSp', 'Parch', 'Age'], axis = 1)
test = test.dropna()
test = pd.get_dummies(test)
test = test.drop('Sex_female', axis = 1)
PassengerId = test.PassengerId
X_test = test.drop('PassengerId', axis = 1)

In [8]:
y_pred = clf.predict(X_test)

In [9]:
df = pd.DataFrame({'PassengerId': PassengerId, 'Survived':y_pred})

In [10]:
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [11]:
df.to_csv('submission.csv', index = False)